<div class="full clearfix block">
  <div class="left one-third block clearfix">
    <a href="<%= lesson_path(lesson) %>" class="cover-art no-bb">
      <% if lesson.image_url.present? %>
        <%= image_tag lesson.image_url, :class=>"no-bb full" %>
      <% end %>
    </a>
  </div>
  <div class="left two-thirds block clearfix">
    <h3 class="h3">
      <%= link_to lesson.title, lesson_path(lesson) %>
    </h3>
    <p class="summary"><%= lesson.summary %></p>
    <% if lesson.upcoming_event.present? %>
      <p class="mt1"><strong>Date:</strong> <%= lesson.upcoming_event.start_time.strftime("%A, %B %-d") %></p>
      <p><strong>Time:</strong> <%= lesson.upcoming_event.start_time.strftime("%l:%M%p") %> - <%= lesson.upcoming_event.end_time.strftime("%l:%M%p") %>
      <p><strong>Location:</strong> <a href="https://maps.google.com/maps?client=safari&q=88+Colin+P+Kelly+Jr+St+San+Francisco,+CA+94107&ie=UTF-8&hq=&hnear=0x80858077fe6ae953:0x1cf829f1248fb8f4,88+Colin+P+Kelly+Jr+St,+San+Francisco,+CA+94107&gl=us&ei=A5LHUrnaB8vqoATK9IHgAQ&ved=0CCwQ8gEwAA">88 Colin P Kelly Jr St, San Francisco, CA 94107</a></p>
      <p><strong>Teacher:</strong> <%= link_to lesson.upcoming_event.teacher_github_username, "https://github.com/#{lesson.upcoming_event.teacher_github_username}" %></p>
    <% end %>
  </div>
</div>
