<% title @lesson.title %>

<section class="mt3">
  <% if @lesson.upcoming_event.present? %>
    <h2 class="h2 regular half">Upcoming Event</h2>
  <% end %>

  <%= render partial: "lesson", object: @lesson %>
</section>

<div class="full block clearfix mb2" id="registration">
  <div class="two-thirds">
    <% if @lesson.upcoming_event.present? %>
      <% if @lesson.upcoming_event.registration_date_still_in_the_future? %>
        <h2 class="h2 regular mt1">Registration Notification</h2>
        <p class="mt1">Enter your email address to be notified when class registration opens up.</p>

        <%= form_tag subscribe_to_event_path(@lesson.upcoming_event) do %>
          <div class="grid mt1">
            <%= email_field_tag :email, nil, placeholder: "Email address" %>
            <%= submit_tag "Notify me", class: "btn" %>
          </div>
        <% end %>
      <% elsif @lesson.upcoming_event.open_for_registration? %>
        <h2 class="h2 regular mt1">Event Registration</h2>
        <p class="mt1">Register for the event by entering the number of students and your email address.</p>

        <%= form_tag register_path do %>
          <div class="grid mt1">
            <%= text_field_tag :number_of_students, nil, placeholder: "Number of students" %>
            <%= email_field_tag :email, nil, placeholder: "Email address" %>
            <%= submit_tag "Register", class: "btn" %>
          </div>
        <% end %>
      <% else %>
        <h2 class="h2 regular mt1">Registration Closed</h2>

        <p class="mt1">Subscribe to our <a href="/#newsletter">newsletter</a> to receive announcements about future classes.</p>
      <% end %>
    <% end %>

    <% if flash[:notice] %>
      <p class="p1 bg-notice-green white rc1 mt1"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="p1 bg-error-red rc1 mt1"><%= flash[:error] %></p>
    <% end %>
  </div>
</div>


<section class="bt-light-gray">
  <%= render partial: "shared/past_lessons" %>
</section>
