<!DOCTYPE html>
<html>
  <head>
    <title>CoderDojo - San Francisco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic|Lato:700,900|Roboto:400,900,300' rel='stylesheet' type='text/css'>
  </head>
  <body class="page <% if @page_class %>page--<%= @page_class %><% end %>">
    
    <header role="banner" class="masthead container">
      <img src="/assets/coderdojosf-mark.svg" class="masthead__logomark" alt="CoderDojoSF Logo">
      <h1 class="masthead__title"><%= link_to raw("CoderDojo <span>San Francisco</span>"), root_path %></h1>
      <h2 class="masthead__subtitle">Teaching the next generation to design and code</h2>
    </header>
  
    <main role="main" class="main container">
      <%= yield %>
    </main>

    <footer role="contentinfo" class="footer">
      <div class="container">
        <p>If you would like more information about the CoderDojo organization, or to find one in your area, head over to <a href="http://www.coderdojo.com">http://www.coderdojo.com</a>. Hosted with <span class="footer__heart">❤</span> by Github.</p>
      </div>
    </footer>

</body>
</html>
